{% extends 'shared/layout.html' %}
{% block title%} Perfil de usuario: {% endblock %}

{% block content%}
    
    <h1>{{ producto.nombreProducto }}</h1>
    <p>Contenido: {{ producto.descripcionProducto}}</p>
    <p>Existencias: {{producto.existencias}} </p>

    <form action="{% url 'compra_app:agregar_al_carrito' producto.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Agregar al carrito</button>
    </form>
    <button><a href="{% url 'productos_app:inicio' %}">Volver al inicio</a></button>
    <button><a href="{% url 'compra_app:ver_carrito' %}">Ver carrito</a></button>
    
{% endblock %}