<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.7.1.min.js"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    
      <nav class="navbar navbar-expand-lg bg-body-tertiary"></nav>
      <div class=" container-fluid ">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row border justify-content-end ">
          <li class="nav-item me-4">
            <a class="nav-link active" href="/productos">Tienda</a>
          </li>
          <li class="nav-item  text-primary-emphasis me-4">
            <a class="nav-link active" href="/nuevosProductos">Lo nuevo</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link active" href="/info">¿Quienes somos?</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link active" href="/miperfil">Mi perfil</a>
          </li>
        </ul>
      </div>
        
        {% block content %}
        {% endblock %}    
    
</body>
</html>