{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

    <header>

        <div id = "logotipo">
            <img src = "{% static 'images/gtologo.png' %}"/>
        <h1>Mercado Local</h1>
        </div>

        <nav>
            <ul>
                <li>
                    <a href= "{% url 'pagina_inicio' %}">Inicio</a>
                </li>
                <li>
                    <a href= "{% url 'login' %}">Iniciar Sesion</a>
                </li>
            </ul>
        </nav>

    </header>

    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="esquina-derecha"></span>
        <span class = "relleno-barra"></span>
    </div>

   

    <div id="content">
        <div class="box">

        {% block content %}
        {% endblock %}
        </div>
        
    </div>
    <footer>
        MercadoLocal &copy; - {% now "Y" %}
    </footer>
</body>

</html>