<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>MERCADO LOCAL</h1>

    <h2>TU CARRITO</h2>

    {% if carrito %}
        <ul>
            {% for orden in carrito %}
            <li>
                {{ orden.producto.nombreProducto }}
                <br>
                Cantidad: {{ orden.cantidadProducto }}
                <br>
                Precio: ${{ orden.producto.precio }}
                
    
                <form method="post" action="{% url 'compra_app:eliminar_del_carrito' orden.id %}">
                    {% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>

            
                <form method="post" action="{% url 'compra_app:modificar_cantidad_carrito' orden.id 'restar' %}">
                    {% csrf_token %}
                    <button type="submit">-</button>
                </form>

              
                <form method="post" action="{% url 'compra_app:modificar_cantidad_carrito' orden.id 'sumar' %}">
                    {% csrf_token %}
                    <button type="submit">+</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    {% else  %}
        <p>El carrito está vacío</p>
    {% endif %}

    {% if carrito %}
        <p>Subtotal: ${{ subtotal }}</p>
    {% endif %}
    
    <button>PROCEDER AL PAGO</button>
 
</body>
</html>
