{% extends 'shared/layout.html' %}
{% block title%} Perfil de usuario: {% endblock %}

{% block content%}

    <h1>¡Gracias por tu compra!</h1>

    <p>Detalles de la compra:</p>

    <ul>
        {% for orden in ordenes_asociadas %}
            <li>
                {{ orden.producto.nombreProducto }}
                <br>
                Cantidad: {{ orden.cantidadProducto }}
                <br>
                Precio: ${{ orden.costoOrden }}
            </li>
        {% endfor %}
    </ul>

    <p>Total: ${{ venta.costoTotal }}</p>

{% endblock %}
