{% extends 'shared/layout.html' %}
{% block title%} Perfil de usuario: {% endblock %}

{% block content%}

    <h1>Historial de Compras</h1>

    {% if historial_compras %}
        <ul>
            {% for compra in historial_compras %}
                <li>
                    <strong>Producto:</strong> {{ compra.producto.nombreProducto }}
                    <br>
                    <strong>Cantidad:</strong> {{ compra.orden.cantidadProducto }}
                    <br>
                    <strong>Precio Unitario:</strong> ${{ compra.orden.producto.precio }}
                    <br>
                    <strong>Total:</strong> ${{ compra.orden.costoOrden }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay historial de compras disponible.</p>
    {% endif %}

{% endblock %}