<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       
        button a {
            text-decoration: none; 
            color: inherit; 
            cursor: pointer; 
        }
    </style>
</head>
<body>
    
    <h1>{{ producto.nombreProducto }}</h1>
    <p>Contenido: {{ producto.descripcionProducto}}</p>

    <button><a href="{% url 'productos_app:inicio' %}">Volver al inicio</a></button>
    <button><a href="{% url 'compra_app:carrito' %}">Agregar al carrito</a></button>
    <button>Comprar</button>
    
</body>
</html>